.board{
  // position: absolute;
  display: flex;
  margin: auto;
  width: 600px;
  height: 600px;
  padding: 10px;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: $background;

  .field{
    position: relative;
    flex: 1 1 30%;
    width: 200px;
    height: 200px;
    border: 2px solid $boardBorder;
  }

  .cross{
    position: absolute;
    top: 25px;
    left: 50%;
    width: 10px;
    height: 150px;
    border-radius: 5px;
    background-color: $player1;
    transform: rotate(45deg)
  }

  .cross::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 150px;
    border-radius: 5px;
    background-color: $player1;
    transform: rotate(-90deg)
  }

  .circle{
    position: absolute;
    top: 25px;
    left: 25px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: $player2;
  }

  .circle::after{
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: $background;
  }
  }