.message_container{
    position: fixed;
    top: -$message-border-width;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    background: $message;
    border: $message-border-width solid $message-border-color;
    border-radius: 0 0 $gutter $gutter;
    box-shadow: 2px 2px 3px $black;

    p{
        font-size: $gutter;
        color: $message-text;
        padding: .5*$gutter;
    }
}