$player1: black;
$player2: red;
$background: white;

$boardBorder: red;

$message: #fc725d;
$message-border-color: #9b4537;
$message-text: #4c211a;
$message-border-width: 6px;

$gutter: 24px;
$black: black;