$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$background: rgb(0, 136, 255);
$background-darker: rgba(0, 59, 110, 0.9);
$windows-background: rgba(0, 136, 255, .8);

$board-border-width: 3px;

$main-font: 30px;
$support-font: 24px;
$gutter: 24px;